/* fonts */

body {
	font-family: 'Poppins', Helvetica, Arial, sans-serif;
	color: #4A4A4A;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 90px;
	font-weight: 900;
	line-height: 1.125;
	color: black;
	margin: 0;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	font-weight: 300;
	color: #D4503E;
	margin: 0;
}

h3 {
	font-family: 'Playfair Display', serif;
	font-size: 42px;
	font-weight: 900;
	color: black;
	margin: 0;
}

h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #D4503E;
}

h5 {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 2;
	color: #4A4A4A;
}

h6 {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 600;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 2;
	color: #4A4A4A;	
}

span {
	font-weight: 700;	
}

.hero-copy .styletwo {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 80px;
	text-align: right;
}


/* links */

a {
	outline: none;
	text-decoration: underline;
}

a:link {
	color: #4A4A4A;
}

a:visited {
	color: #4A4A4A;
}


/* grid */

* {
 	box-sizing: border-box;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

#me {
	grid-row: 1 / 3;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	background-image: url('../assets/portrait-min.jpg');
	background-color: #D4503E;
}

.hero-copy {
	grid-column: 2 / 4;
	padding: 50px;
	background: #f6f6f6;
}

.hero-zest {
	grid-column: 2 / 4;
}

.hero-zest img {
	width: 100%;
	height: 100%;
}


/* projects */

.projects {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.project-intro {
	padding: 50px;
	background-color: #e5e5e2;
}

.project-spacebar {
	background-color: #e5e5e2;
}

.project-paycrave {
	background-color: #e5e5e2;
}

.project-brailleabcz {
	background-color: #e5e5e2;
}


/* about */

.about {
	grid-column: 1 / -1;
	display: grid;
	grid-template-rows: 1fr 1fr;
	background-color: #F6F6F6;
}

.worklife img {
	width: 100%;
	max-width: 720px;
	float: left;
	clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
	shape-outside: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
}

.worklife-copy {
	padding: 50px;
}

.worklife-caption {
	display: none;
}

.funfacts-copy {
	padding: 50px;
}

.funfacts img {
	width: 100%;
	float: right;
	max-width: 720px;
	clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
	shape-outside: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

.funfacts-caption {
	display: none;
}


/* footer */

footer {
	grid-column: 1 / -1;
	background-color: #D4503E;
	height: 400px;
	text-align: center;
}

.social {
	display: flex;
	justify-content: center;
}

.social img {
	padding: 20px;
}