/* fonts */

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	font-weight: 300;
	color: #D4503E;
	margin: 0;	
}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 90px;
	font-weight: 900;
	line-height: 1.125;
	color: #000;
	margin: 0;
}

h3 {
	font-family: 'Playfair Display', serif;
	font-size: 42px;
	font-weight: 900;
	color: #000;
	margin: 0;
}

h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #D4503E;
}

h5 {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 600;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 2;
	color: #4A4A4A;	
}


/* hero */

.hero-copy .styletwo {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 80px;
	text-align: right;
}

.hero-copy p {
	font-size: 20px;
}


/* links */

a {
	outline: none;
	text-decoration: underline;
}

a:link {
	color: #4A4A4A;
}

a:visited {
	color: #4A4A4A;
}


/* grid */

* {
 	box-sizing: border-box;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}


/* hero */

#me {
	grid-row: 1 / 3;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	background-image: url('../assets/portrait-min.jpg');
	background-color: #D4503E;
}

.hero-copy {
	grid-column: 2 / 4;
	padding: 100px 120px;
	background: #f6f6f6;
}

.hero-zest {
	grid-column: 2 / 4;
}

.hero-zest img {
	width: 100%;
	height: 100%;
	display: block;
}


/* projects */

.projects {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.project-intro {
	padding: 100px;
	background-color: #e5e5e2;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.project-intro span {
	font-weight: 700;	
}

.button {
	background-color: #D4503E;
	border-radius: 2px;
    height: 40px;
    width: 200px;
    line-height: 40px;
    text-align: center;
    color: white;
    cursor: pointer;
	box-shadow: 1px 1px 5px #4A4A4A;
	transition: all 0.2s;
}

.button:hover {
  background: #ED6451;
}

.button a:link {
	color: white;
	text-decoration: none;
}

.button a:visited {
	color: white;
}


/* projects */

.project-spacebar {
	background-color: #e5e5e2;
}

.project-paycrave {
	background-color: #e5e5e2; 
	background-image: url('../assets/paycrave-home-min.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
}

.paycrave-copybox {
	align-self: center;
	justify-self: center;
	align-content: center;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.project-brailleabcz {
	background-color: #e5e5e2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.project-brailleabcz img {
	width: 100px;
	align-self: center;
}

.p-braille-copy {
	align-self: center;
}

.p-braille-copy h4 {
	margin: 0;
}

.p-braille-copy h5 {
	margin: 0;
}


/* about */

.about {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 20px;	
}

.worklife {
	display: flex;
	background-color: #F6F6F6;
}

.worklife-tilt {
	background-image: url('../assets/steps-min.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	-moz-transform: skewX(15deg);
	-webkit-transform: skewX(15deg);
	transform: skewX(15deg);
	border-right: 20px solid white;
	width: 100%;
	margin-left: -7%;
	overflow: hidden;
}

.worklife-copy {
	padding: 50px 50px 50px 50px;
}

.worklife-caption {
	display: none;
}

/*
.worklife-tilt {
	-webkit-backface-visibility: hidden;
	-webkit-transform: skewX(15deg);
	transform: skewX(15deg);
	overflow: hidden;
	position: relative;
	border-right: 20px solid white;
	margin-left: -7%;
	width: 100%;
}

.worklife-tilt img {
	-webkit-transform: skewX(-15deg);
	transform: skewX(-15deg);
	display: block;
}

.worklife img {
	width: 100%;
	-webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}
*/

.funfacts {
	display: flex;
	background-color: #F6F6F6;
}

.funfacts-copy {
	padding: 50px 50px 50px 50px;
}

.funfacts-tilt {
	background-image: url('../assets/butcher-min.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	-moz-transform: skewX(15deg);
	-webkit-transform: skewX(15deg);
	transform: skewX(15deg);
	border-left: 20px solid white;
	width: 100%;
	margin-right: -11%;
	overflow: hidden;
}

.funfacts-caption {
	display: none;
}

/*

.funfacts img {
	-webkit-transform: skewX(-15deg);
	transform: skewX(-15deg);
	display: block;
	margin-left: -11%;
}

.funfacts-tilt {
	-webkit-backface-visibility: hidden;
	-moz-transform: skewX(-15deg);
	-webkit-transform: skewX(15deg);
	transform: skewX(15deg);
	overflow: hidden;
	position: relative;
	border-left: 20px solid white;
	margin-right: -7%;
	width: 100%;
}

.funfacts img {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}
*/


/* footer */

footer {
	grid-column: 1 / -1;
	background-color: #D4503E;
	height: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*
.horizonal-line {
	border: 0;
	width: 100%;
	border-bottom: 7px solid white;
	position: relative;
	top: -100px;
}
*/

}

.connect {
	padding-bottom: 20px;
}

.connect h3 {
	margin: 0;
}

.connect p {
	margin: 0;
	color: white;
}

.connect a:link {
	color: #fff;
}

.social {
	display: flex;
	justify-content: center;
}

.social img {
	padding: 20px;
}

/*
.xmark {
	position: absolute;
}
*/