/* fonts */

body {
	font-family: 'Poppins', Helvetica, Arial, sans-serif;
	color: #4A4A4A;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 90px;
	font-weight: 900;
	line-height: 1.125;
	color: black;
	margin: 0;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	font-weight: 300;
	color: #D4503E;
	margin: 0;
}

h3 {
	font-family: 'Playfair Display', serif;
	font-size: 42px;
	font-weight: 900;
	color: black;
	margin: 0;
}

h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #D4503E;
}

h5 {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 2;
	color: #4A4A4A;
}

h6 {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 600;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 2;
	color: #4A4A4A;	
}

span {
	font-weight: 700;	
}

.hero-copy .styletwo {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 80px;
	text-align: right;
}


/* links */

a {
	outline: none;
	text-decoration: underline;
}

a:link {
	color: #4A4A4A;
}

a:visited {
	color: #4A4A4A;
}


/* grid */

* {
 	box-sizing: border-box;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

#me {
	grid-row: 1 / 3;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	background-image: url('../assets/portrait-min.jpg');
	background-color: #D4503E;
}

.hero-copy {
	grid-column: 2 / 4;
	padding: 50px;
	background: #f6f6f6;
}

.hero-zest {
	grid-column: 2 / 4;
}

.hero-zest img {
	width: 100%;
	height: 100%;
}


/* projects */

.projects {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.project-intro {
	padding: 50px;
	background-color: #e5e5e2;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.button {
	background-color: #D4503E;
	border-radius: 2px;
    height: 40px;
    width: 200px;
    line-height: 40px;
    text-align: center;
    color: white;
    cursor: pointer;
	box-shadow: 1px 1px 5px #4A4A4A;
	transition: all 0.2s;
}

.button:hover {
  background: #ED6451;
}

.button a:link {
	color: white;
	text-decoration: none;
}

.button a:visited {
	color: white;
}


/* projects: spacebar */

.project-spacebar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-spacebar img {
	position: absolute;
	z-index: -1;
}

.p-spacebar-copy h4 {
	margin: 0;
}

.p-spacebar-copy h5 {
	margin: 0;
}


/* projects: paycrave */

.project-paycrave {
	background-color: #e5e5e2;
}


/* projects: brailleabcz */

.project-brailleabcz {
	background-color: #e5e5e2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.project-brailleabcz img {
	width: 100px;
	align-self: center;
}

.p-braille-copy {
	align-self: center;
}

.p-braille-copy h4 {
	margin: 0;
}

.p-braille-copy h5 {
	margin: 0;
}


/* about */

.about {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 20px;	
}

/* about: worklife */

.worklife {
	display: flex;
	background-color: #F6F6F6;
}

.worklife-copy {
	padding: 50px 50px 20px 20px;
}

.worklife img {
	width: 100%;
	-webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}

.worklife-caption {
	display: none;
}

/* about: funfacts */

.funfacts {
	display: flex;
	background-color: #F6F6F6;
}

.funfacts-copy {
	padding: 50px 0px 50px 50px;
}

.funfacts img {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

.funfacts-caption {
	display: none;
}


/* footer */

footer {
	grid-column: 1 / -1;
	background-color: #D4503E;
	height: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.connect {
	padding-bottom: 20px;
}

.connect h3 {
	margin: 0;
}

.connect p {
	margin: 0;
	color: white;
}

.connect a:link {
	color: #fff;
}

.social {
	display: flex;
	justify-content: center;
}

.social img {
	padding: 20px;
}

.xmark {
	position: absolute;
}